body {
  font-size: 108px;
  text-align: center;
  font-family: Helvetica, Verdana;
  color: #000;
  background-color: #fff;
}

#figure {
  font-size: 2em;
}

#number {
  display: inline-block;
  border: 7px solid;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.digit {
  padding-right: 0.05em;
  padding-left: 0.05em;
}

.text {
  margin-top: 0.2em;
  margin-bottom: 0.35em;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}

svg {
  fill: currentColor;
}